@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700&display=swap');

html{
    font-size: 100%;
}

:root {
    /* 
    primary color */
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);

    /* ### Neutral */

    --Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very_light_gray_background_headings_buttons: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}

.column {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.column .col1 {
    width: 680px;
    height: 440px;
    background: wheat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

/* ------------card1------------------- */

.column .col1 .card1 {
    width: 33.33%;
    height: 100%;
    background: var(--Bright_orange);
    padding: 30px;
    display: inline-block;


}

.card1 img {
    margin-bottom: 30px;
}


.card1 .heading1 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Very_light_gray_background_headings_buttons);
    margin-bottom: 30px;
}


.card1 .para1 {
    color: var(--Transparent_white_paragraphs);
    margin-bottom: 40px;
}

.card1 .btn1 {
    color: var(--Bright_orange);
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
}


/* ------------card2------------------- */

.column .col1 .card2 {
    width: 33.33%;
    height: 100%;
    background: var(--Dark_cyan);

padding: 30px;

}

.card2 img {
    margin-bottom: 30px;
}

.card2 .heading2 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Very_light_gray_background_headings_buttons);
    margin-bottom: 30px;
}


.card2 .para2 {
    color: var(--Transparent_white_paragraphs);
    margin-bottom: 40px;
}

.card2 .btn2 {
    color: var(--Dark_cyan);
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
}


/* ------------card3------------------- */


.column .col1 .card3 {
    width: 33.33%;
    height: 100%;
    background: var(--Very_dark_cyan);
padding: 30px;

}

.card3 img {
    margin-bottom: 30px;
}

.card3 .heading3 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Very_light_gray_background_headings_buttons);
    margin-bottom: 30px;
}


.card3 .para3 {
    color: var(--Transparent_white_paragraphs);
    margin-bottom: 40px;
}

.card3 .btn3 {
    color: var(--Very_dark_cyan);
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
}

@media(max-width:350px){
    html{
        font-size:40% ;
    }
}
@media( max-width:700px)
{
html{
    font-size:80% ;
}
    .column{
        height: 100%;
    }
    .column .col1{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 60%;
    height: 100%;
    margin: 50px;
    }
    .column .col1 .card1{
        width: 100%;
        padding: 40px;
    }
    .column .col1 .card2{
        width: 100%;
        padding: 40px;
    }
    .column .col1 .card3{
        width: 100%;
        padding: 40px;
    }
}